
body {
  z-index: 3;
  background: rgb(0,0,0);
}
h2 {
  position: relative;
  color: lightblue;
  text-shadow: 0 0 1em currentColor;
  text-align: center;
  top: 250px;
  right: 100px;
}
.screen {
  z-index: 2;
    top: 200px;
    z-index: 2;
    background-image: url(https://cdn.discordapp.com/attachments/963359944424423505/1101446277864108102/Screenshot_20230407_121752_TikTok.jpg);
    background-size: 100%;
    overflow: hidden;
    margin: 15vw auto;
    width: 500px;
    border: 3px solid white;
    aspect-ratio: 9 / 9;
    border-radius: 5%;
}
/*
.overlay {
    background-size: 100% 10px;
    opacity: 10%;
   background: inear-gradient(165deg, white, white 5px, black 5px, black 10px);
}
*/
.overlay {
  z-index: 1;
    height: 100%;
    width: 100%;
    background-image: url(https://i.postimg.cc/tJhBVh4d/scanlines.png);
    animation: MoveUpDown 30s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 100px;
    }
  }
